body {
    background-color: green;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 1.5em;
}

#opening-times-container {
    text-align: center;
}

.menu-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}